.wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: var(--spacing-medium);
  margin-bottom: var(--spacing-medium);
}

.icon {
  display: inline-flex;
  width: 55px;
  height: 55px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  background-color: var(--color-gray);
  font-size: 30px;
}
